<%= form_for(@workday) do |f| %>
  <% if @workday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workday.errors.count, "error") %> prohibited this workday from being saved:</h2>

      <ul>
      <% @workday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hoursWorked %><br>
    <%= f.text_field :hoursWorked %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :dayDate %><br>
    <%= f.date_select :dayDate %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
