<%= form_for(@workday) do |f| %>
  <% if @workday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workday.errors.count, "error") %> prohibited this workday from being saved:</h2>

      <ul>
      <% @workday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.select(:project_id, 
                 current_user.projects.uniq.map { |project| [project.name, project.id] }) %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Select Project", :action => 'update', class: "btn btn-primary"%>
  </div>
<% end %>
  
<hr>
<%= render 'timePunchForm' %>

<hr>

<% if @timePunches %>
  <% @timePunches.each do |tp| %>
    <p><%= tp.entry %></p>
    <p><%= @timePunches.count %></p>
  <% end %>
<% end %>


<hr>
<p>Today is: <%= Date.today %></p>
<p>Time now is: <%= Time.now %></p>