<%= form_for(@workday) do |f| %>
  <% if @workday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@workday.errors.count, "error") %> prohibited this workday from being saved:</h2>

      <ul>
      <% @workday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hoursWorked %><br>
    <%= f.text_field :hoursWorked %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :dayDate %><br>
    <%= f.date_select :dayDate %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.number_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<hr>

<%= render 'timePunchForm' %>

<% if @timePunches %>
  <% @timePunches.each do |tp| %>
    <p><%= tp.entry %></p>
    <p><%= @timePunches.count %></p>
  <% end %>
<% end %>


<hr>
<p>Today is: <%= Date.today %></p>
<p>Time now is: <%= Time.now %></p>

  <% counter = 0 %>
<% @userWorkdays.each do |wd| %>
  <p><%= wd.dayDate %></p>
  <% if wd.dayDate == Date.today %>
    <% counter += 1 %>
    <p><%= wd.dayDate %> is Today</p>
  <% end %>

<% end %>
<p>counter is: <%= counter %></p>