
  <p id="notice"><%= notice %></p>

  <h1>Workdays</h1>
  <div class="container">

    <h3><%= @user.fullName %></h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Hours Worked</th>
          <th>Project</th>
          <th>Notes</th>
          <th>Time Punches</th>
        </tr>
      </thead>

      <tbody>
        <% @workdays.each do |workday| %>
          <tr>
            <td><%= workday.dayDate.strftime('%m/%d/%Y') %></td>
            <td><%= Time.at(workday.hoursWorked.round.abs).utc.strftime("%H:%M") %></td>
            <td><%= workday.project.name %></td>
            <td><%= workday.notes %></td>
            <td><%= workday.timePunches.count %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
