<!-- <p id="notice"><%= notice %></p> -->
<!-- <p>Time.now: <%= Time.now.strftime("%l:%M %P") %></p>
<p>Time.now.utc: <%= Time.now.utc.strftime("%l:%M %P") %></p>
<p>created at: <%= @workday.created_at.strftime('%B %e, %Y %l:%M%P') %></p>
<p>Local time created_at <%= local_time(@workday.created_at, '%B %e, %Y %l:%M%P')%></p>
<p>Local_time helper Time.now: <%= local_time(Time.now) %></p>
<p>Local_date helper Time.now: <%= local_date(Time.now) %></p>
<p>Date.today: <%= Date.today %></p>
<p>DateTime.now: <%= DateTime.now %></p>
<p>DateTime.now.utc: <%= DateTime.now.utc %></p>
<p>DateTime.now.to_date: <%= DateTime.now.to_date %></p>
<p>DateTime.now.in_time_zone.midnight: <%= DateTime.now.in_time_zone.midnight %>
</p>
<p>local_time zone.midnight: <%= local_time(DateTime.now.in_time_zone.midnight) %></p>
<p>beginning of day: <%= DateTime.now.beginning_of_day %></p>
<p>hours from now: <%= DateTime.now + 12.hours %></p>
<hr> -->

<div class="row">
    <div class="col-md-12 center">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right"><%= Date.today.strftime('%B %e, %Y') %></span>
                <span><strong>
  <%= current_user.firstName + " " + current_user.lastName %></strong></span>
                <h5>Workday</h5>
            </div>
            <div class="ibox-content">
              <p>
                <strong>Hours Worked Today:</strong>
                <%= @hoursWorked %>
              </p>
              <p>
                <strong>dayDate:</strong>
                <%= @workday.dayDate.strftime('%B %e, %Y') %>
              </p>
              <p>
                <%= render 'form' %>
              </p>

<!--               <p>
                <strong>Notes:</strong>
                <%= @workday.notes %>
              </p>
              

              <p>
                <strong>dayDate:</strong>
                  <%= @workday.dayDate.strftime('%B %e, %Y') %>
                <strong>DateTime.now.to_date:</strong>
                  <%= DateTime.now.to_date.strftime('%B %e,%Y') %>
              </p>

                <% if @workday.dayDate == DateTime.now.to_date %>
                  <p>dates match</p>
                <% else %>
                  <p>dates are screwed</p>
                <% end %> -->

            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 center">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Daily</span>
                <h5>Time Clock</h5>
            </div>
            <div class="ibox-content">
              <%= render 'timePunchForm' %>
            </div>
              <% if @timePunches %>
                <% @timePunches.each do |tp| %>
                  <p><%= tp.entry %></p>
                  <p><%= @timePunches.count %></p>
                <% end %>
              <% end %>
        </div>
    </div>
    <div class="col-md-12 center">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">in/out</span>
                <h5>Time Punches</h5>
            </div>
            <div class="ibox-content">
              <div class="row">
              <% @currentWorkdayTimePunches.each do |tp| %>
                <div class="col-md-2" >
                  <div class="well">
                    <%= Time.now %>
                    <%= local_time(tp.created_at, '%l:%M %P') %>
                    <% if tp.clockedInStatus %>
                      <p>In</p>
                    <% else %>
                      <p>Out</p>
                    <% end %>
                    <%= link_to 'Destroy', tp, method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
              <% end %>
              </div>
        </div>
      </div>
    </div>
</div>
