<p id="notice"><%= notice %></p>
<p><%= Time.now.strftime("%l:%M %P") %></p>
<p>
  <strong>Hoursworked:</strong>
  <%= @workday.hoursWorked %>
</p>

<p>
  <strong>User:</strong>
  <%= @workday.user_id %>
</p>

<p>
  <strong>Daydate:</strong>
  <%= @workday.dayDate %>
</p>

<p>
  <strong>Project:</strong>
  <%= @workday.project_id %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @workday.notes %>
</p>
<hr>
<%= render 'timePunchForm' %>



<div class="row">
  <% @currentWorkdayTimePunches.each do |tp| %>
    <div class="col-md-2" >
      <div class="well">
      <%= local_time(tp.created_at) %>
      <% if tp.clockedInStatus %>
        <p>In</p>
      <% else %>
        <p>Out</p>
      <% end %>
      <%= link_to 'Destroy', tp, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    </div>
  <% end %>
</div>


<hr>
<%= @mytime.localtime %>
<br>
<%=  Time.now %>
<br>
<%= link_to 'Edit', edit_workday_path(@workday) %> |
<%= link_to 'Back', workdays_path %>
