<!DOCTYPE html>
<html>

<head>
    <title>Timecard</title>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Latest compiled and minified Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- <link href="css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="font-awesome/css/font-awesome.css" rel="stylesheet"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">

    <!-- Toastr style -->
    <!-- <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <!-- Gritter -->
    <!-- <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet"> -->

    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->

</head>

<body>
  <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element"> <span>
              <%= image_tag(current_user.gravatar_url, class: "img-circle") %></span>
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear">
                  <span class="block m-t-xs"><strong class="font-bold"><%= current_user.fullName %></strong></span>
                  <span class="text-muted text-xs block"><%= current_user.role %><b class="caret"></b></span>
                </span>
              </a>
              <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a href="profile.html">Profile</a></li>
                <li><a href="contacts.html">Contacts</a></li>
                <li><a href="mailbox.html">Mailbox</a></li>
                <li class="divider"></li>
                <li><a href="login.html">Logout</a></li>
              </ul>
            </div>
            <div class="logo-element">
                da
            </div>
          </li>
          <li class="active">
            <%= link_to admin_root_path do %>
              <span><i class="fa fa-th-large"></i> Dashboard</span>
            <% end %>
          </li>


      </div>
    </nav>

    <div id="page-wrapper" class="gray-bg dashbard-1">
      <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
            <form role="search" class="navbar-form-custom" action="search_results.html">
                <div class="form-group">
                    <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
                </div>
            </form>
          </div>
            <ul class="nav navbar-top-links navbar-right">
              <li>
                <span class="m-r-sm text-muted welcome-message"><%= current_user.account.name %> - <strong>Tract</strong>Work</span>
              </li>

              <li>
                <a href="login.html"><i class="fa fa-sign-out"></i> Log out</a>
              </li>
            </ul>

        </nav>
      </div>
      <div class="row  border-bottom white-bg dashboard-header">

        <div class="col-sm-6">
          <h2>Welcome <%= current_user.firstName %></h2>
        </div>

      </div>

      <%= yield %>

      <div class="row">
        <div class="col-lg-12">

          <div class="footer">
            <div class="pull-right">
              <strong>Tract</strong>work
            </div>
            <div>
              <strong>Copyright</strong> diligent agility &copy; 2014-2016
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>
